<h1>Page d'accueil</h1>

<% if user_signed_in? %>
  <p>
    <%= button_to 'Liste des offres', offers_path, method: :get %>
    <%= button_to 'Nouvelle offre', new_offer_path, method: :get %>
    <%= button_to 'Infos de contact', current_user, method: :get %>
    <% if current_user.admin? %>
        <%= button_to 'Liste des utilisateurs', users_path, method: :get %>
    <% end %>
  </p>
<% end %>

<p>Bienvenue !</p>
<p>Sur ce site, vous pouvez proposer du matériel en revente au sein du club, et voir les offres des autres.</p>

<% if ! user_signed_in? %>
  <p>Vous n'êtes actuellement pas connecté, vous ne pouvez donc ni voir ni proposer d'offre.</p>
  <p>Si c'est votre première connexion, merci d'utiliser la fonctionnalité "Mot de passe oublié" pour vous créer un mot de passe.</p>
  <p>Vous devriez avoir reçu un email vous indiquant la création de votre compte, dans le cas contraire, merci de contacter le bureau.</p>
<% else %>
  <p>Vous pouvez accéder à la <%= link_to 'liste des offres', offers_path %>, ou bien en <%= link_to 'créer une', new_offer_path %>.
  Vous pouvez également <%= link_to 'modifier vos informations de contact', current_user %>.</p>
  <% if current_user.admin? %>
    <p>En tant qu'administrateur, vous avez aussi accès à la <%= link_to 'liste des utilisateurs', users_path %>.</p>
  <% end %>
<% end %>
