<h1>Modification d'un utilisateur</h1>

<%= render 'form', user: @user %>

<p>Si vous souhaitez changer votre mot de passe, merci d'utiliser la fonctionnalité "Mot de passe oublié".</p>
<p>
  <%= button_to 'Annuler', @user, method: :get %>
  <% if current_user.admin? %>
    <%= button_to 'Supprimer', @user, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet utilisateur ?' } %>
    <%= button_to 'Liste des utilisateurs', users_path, method: :get %>
  <% end %>
  <%= button_to 'Page d\'accueil', root_path, method: :get%>
</p>
