<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "erreur") %> empêchent d'enregistrer cette offre : </h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Titre de l\'annonce' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text, 'Contenu détaillé' %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :public, 'Offre publique ?' %>
    <%= form.check_box :public %>
    <br/>
    Une offre publique est visible par n'importe qui sur Internet, et affiche vos coordonnées.
    <br/>
    Une offre privée n'est visible que par les utilisateurs ayant un compte sur le site.
  </div>

  <div class="field">
    <%= form.label :images, 'Ajouter une image :' %>
    <%= form.file_field :images, multiple: true %><br/>
  </div>

  <div class="actions">
    <%= form.submit 'Valider' %>
  </div>
<% end %>
