<h1>Offres actuellement disponibles</h1>

<p>
  <%= button_to 'Créer une nouvelle offre', new_offer_path, method: :get %>
  <%= button_to 'Page d\'accueil', root_path, method: :get%>
</p>
<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Propriétaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.user %></td>
        <td><%= link_to 'Voir l\'offre', offer %></td>
        <% if current_user_can_modify?(offer) %>
          <td><%= link_to 'Modifier', edit_offer_path(offer) %></td>
          <td><%= link_to 'Supprimer', offer, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette offre ?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

