<p>
  <strong>Titre :</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Texte :</strong>
  <%= @offer.text %>
</p>

<p>
  <strong>Propriétaire :</strong>
  <%= @offer.user %>
</p>

<p>
  <strong>Images :</strong><br/>
  <% @offer.images.each do |image| %>
    <%= image_tag image.variant(resize: "400x400") %>
  <% end %>
  <br/><%= link_to 'Supprimer toutes les images', "#{offer_path(@offer)}/images", method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer toutes les images de cette offre ?' } %>
</p>

<%= link_to 'Modifier', edit_offer_path(@offer) %> |
<%= link_to 'Supprimer', @offer, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette offre ?' } %> |
<%= link_to 'Retour à la liste', offers_path %>
