<!DOCTYPE html>
<html>
  <head>
    <title>Bourse Ski Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> <a href="/">Bourse d'échange Ski Club Alpe du Grand Serre</a> </h1>
      <ul>
        <% if user_signed_in? %>
          <li> <%= current_user %> </li>
          <li> <%= button_to('Déconnexion', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li> <%= button_to('Connexion', new_user_session_path, method: :get) %> </li>
        <% end %>
      </ul>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
