<!DOCTYPE html>
<html>
  <head>
    <title>Bourse Ski Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> <a href="/">Bourse Ski Club</a> </h1>
      <ul>
        <% if user_signed_in? %>
          <li> <%= current_user %> </li>
          <li> <%= button_to('Déconnexion', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li> <%= button_to('Connexion', new_user_session_path, method: :get) %> </li>
        <% end %>
      </ul>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="toplevel-content">
      <%= yield %>
    </div>
    <footer>
        <ul>
            <li>Le code de cette plateforme est disponible sur <a href="https://github.com/toadjaune/scags-bourse">GitHub</a>, sous licence</li>
            <li><a href="https://www.gnu.org/licenses/agpl.html"><img src="https://www.gnu.org/graphics/agplv3-88x31.png" alt="apgl_logo"></a></li>
        </ul>
    </footer>
  </body>
</html>
